/* VERTICAL */
$vertical-padding-sm: 8px;
$vertical-padding-md: 16px;
$vertical-padding-lg: 24px;

$vertical-margin-sm: 8px;
$vertical-margin-md: 16px;
$vertical-margin-lg: 24px;

/* HORIZONTAL */
$horizontal-padding-sm: 8px;
$horizontal-padding-md: 16px;
$horizontal-padding-lg: 24px;

$horizontal-margin-sm: 8px;
$horizontal-margin-md: 16px;
$horizontal-margin-lg: 24px;

/* font sizes */
$font-size: 16px;
$font-size-sm: 1.2em;
$font-size-md: 2.2em;
$font-size-lg: 3.2em;

/* transition/animation duration */
$duration-sm: .3s;
$duration-md: .6s;
$duration-lg: .8s;