/* gutters / spacings */
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;

$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;

/* font sizes */
$font-size: 16px;
$font-size-sm: 1.2em;
$font-size-md: 2.2em;
$font-size-lg: 3.2em;

/* transition/animation duration */
$duration-sm: .3s;
$duration-md: .6s;
$duration-lg: .8s;

/* screen size*/
$mobile-size: 320px;
//$tablet-size: 768px;
$desktop-size: 1024px;
